body (
}
table (
}
ime
}
td [
margin:0;
padding:0;
background-color: #cccccc;
}
border-spacing:0;
1}
border-spacing:0;
padding:10px 10px;
}
.center [
}
[
border:0;
text-align:center;
width:100%;
table-layout: fixed;
main (
background-color: #cccccc;
padding-bottom: 60px;
background-color:#ffffff;
margin: 0 auto;
width:100%;
max-width:600px;
border-spacing:0;
font-family:sans-serif;
color
color:#171a1b;
-pink {
background-color:#ffd9cc;
logo (
text-align:center;
height:100px;
width:100px;
background: non credant (320deg, rgba(170,0,0,1) 0%, rgba(253,92,99,1) 35%, rgba(251,206,177,1) 100%);
background: rgb(178,0,0);
border-radius: 10px;
margin:50px 50px;
position:relative;
z-index: 1;
}


#logotd {
}
#Divi{
}
h3 {
}
a>i{
P{
}
}
.icon1 {
transform: rotate(45deg);
}
button {
transform: rotate(45deg);
height:50px;
}|
width:50px;
margin-left: 200px;
}
h5 {
color: white;
transform: rotate();
color: wheat;
font:italic;
transform: rotate (314deg);
background-color: #ff6600;
color: #ffffff;
width: 180px;
height: 40px;
border: none;
border-radius: 8px;
font-size:16px;
color: white;
/font-size:20px;/
}
i>.icon {
font-size:15px;
color: #185adad;
font-size:50px;
border-radius: 50%;
.social-logo {
font-size:30px;
font-size:25px;
font-weight:100;
margin-left: 220px;}